{% extends "base.html" %}

{% block title %} - Access Restricted{% endblock %}

{% block content %}

    <div class="container">
    <h1 class="blinking-cursor">API Access Restricted</h1>
    <h2>Page d'accueil</h2>
    <p>This service is intentionally limited in access to ensure security and maintain the integrity of the data.</p>
    <p>Access requires specific authorization. Unauthorized attempts to access or utilize the service are strictly prohibited.</p>
    <p>For questions or to request access, please contact: [Your Contact Information] ...<div> </div> </p>
    </div>

{% endblock %}